.btn_record {
    background-color: rgb(48, 48, 188);
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.recorder {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 10000;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: rgb(53, 53, 53);
    border-radius: 0.5rem;
}

.index_video,
.section_video,
.chapter_video {
    width: 4rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.recorder label {
    color: white;
}
